.main{
	& img{
		width: 175px;
		height: 75px;
	}
	& ul{
		text-decoration-style: none;
	}
}

.show-grid{
	color:white;
	.dashbox1{
		margin-top:10%; 
		height:110px;
		width:100%;
	}
	.dashbox2{
		margin-top:10%; 
		height:100px;
		width:100%;
		background-image: linear-gradient(to bottom right, green, yellow);
	}
	.dashbox3{
		margin-top:10%; 
		height:100px;
		width:100%;
		background-image: linear-gradient(to bottom right, violet, red);
	}
	.dashbox4{
		margin-top:10%; 
		height:100px;
		width:100%;
		background-image: linear-gradient(to bottom right, pink, blue);
	}
}